@mixin column($query) {
    @for $count from 12 through 1 {
        $v : (100 / 12) * $count;
        .c#{$count}-#{$query} {
            width: #{$v + "%"};
        }
    }
}

.pr-0 {
    padding-right: 0 !important;
}

.container-1440 {
    width: 100%;
    max-width: 1440px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.upper {
    text-transform: uppercase;
}

.lower {
    text-transform: lowercase;
}

.initial {
    text-transform: initial;
}

.transition {
    transition: $transition;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.full-width {
    width: 100% !important;
}

.o-h {
    overflow: hidden;
}

.row {
    width: 100%;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
.col {
    float: left;
    padding: 15px;
}

@media only screen and (min-width : $ms) {
    @include column('ms');
    .ta-c-ms {
        text-align: center;
    }
    .ta-r-ms {
        text-align: right;
    }
    .ta-l-ms {
        text-align: left;
    }
    .f-l-ms {
        float: left;
    }
    .f-r-ms {
        float: right;
    }
    .d-n-ms {
        display: none;
    }
    .d-b-ms {
        display: block;
    }
}

@media only screen and (min-width : $mm) {
    @include column('mm');
    .ta-c-mm {
        text-align: center;
    }
    .ta-r-mm {
        text-align: right;
    }
    .ta-l-mm {
        text-align: left;
    }
    .f-l-mm {
        float: left;
    }
    .f-r-mm {
        float: right;
    }
    .d-n-mm {
        display: none;
    }
    .d-b-mm {
        display: block;
    }
}

@media only screen and (min-width : $ml) {
    @include column('ml');
    .ta-c-ml {
        text-align: center;
    }
    .ta-r-ml {
        text-align: right;
    }
    .ta-l-ml {
        text-align: left;
    }
    .f-l-ml {
        float: left;
    }
    .f-r-ml {
        float: right;
    }
    .d-n-ml {
        display: none;
    }
    .d-b-ml {
        display: block;
    }
}

@media only screen and (min-width : $tb) {
    @include column('tb');
    .ta-c-tb {
        text-align: center;
    }
    .ta-r-tb {
        text-align: right;
    }
    .ta-l-tb {
        text-align: left;
    }
    .f-l-tb {
        float: left;
    }
    .f-r-tb {
        float: right;
    }
    .d-n-tb {
        display: none;
    }
    .d-b-tb {
        display: block;
    }
}

@media only screen and (min-width : $lp) {
    @include column('lp');
    .ta-c-lp {
        text-align: center;
    }
    .ta-r-lp {
        text-align: right;
    }
    .ta-l-lp {
        text-align: left;
    }
    .f-l-lp {
        float: left;
    }
    .f-r-lp {
        float: right;
    }
    .d-n-lp {
        display: none;
    }
    .d-b-lp {
        display: block;
    }
}

@media only screen and (min-width : $ll) {
    @include column('ll');
    .ta-c-ll {
        text-align: center;
    }
    .ta-r-ll {
        text-align: right;
    }
    .ta-l-ll {
        text-align: left;
    }
    .f-l-ll {
        float: left;
    }
    .f-r-ll {
        float: right;
    }
    .d-n-ll {
        display: none;
    }
    .d-b-ll {
        display: block;
    }
}