$white: #fff;
$white-event: #ddd;
$aqua: #00efc3;
$aqua-event: #00bda1;
$grey: #55606A;
$grey-event: #334048;
$black-transparence: rgba(0, 0, 0, .9);
$black-transparence-event: rgba(0, 0, 0, 1);
$black: #000;
$black-event: #111;

$black-5: rgba(0, 0, 0, .35);
$black-1: rgba(0, 0, 0, .2);

$transition: .35s ease-in-out;

$lato: Lato, Arial, Helvetica, sans-serif;

$ms: 320px;
$mm: 375px;
$ml: 425px;
$tb: 768px;
$lp: 1024px;
$ll: 1440px;